---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Audience from "../components/Audience.astro";
import PainPoints from "../components/PainPoints.astro";
import LeadWizard from "../components/LeadWizard.astro";
import ResourceTeaser from "../components/ResourceTeaser.astro";
import Plans from "../components/Plans.astro";
import Process from "../components/Process.astro";
import PersonalBrand from "../components/PersonalBrand.astro";
import Faq from "../components/Faq.astro";
import ContactCta from "../components/ContactCta.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout canonicalPath="/">
  <Header />

  <main>
    <Hero />
    <Audience />
    <PainPoints />
    <LeadWizard />
    <ResourceTeaser />
    <Plans />
    <Process />
    <PersonalBrand />
    <Faq />
    <ContactCta />
  </main>

  <Footer />
</BaseLayout>
